<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
<title>Document</title>
</head>
<body>
    <div>
        <h1>{{post.title}}</h1>
        <h3>{{post.content}}</h3>
        <p>Posted by {{user.f_name}} {{user.l_name}} on {{post.created_at}}</p>
        <h6>Tags: {% for tag in post.post_tags %}<span class="badge badge-primary">{{tag.name}}</span>{% endfor %}</h6>        

        <div>
            <a class="btn btn-primary" href="/post/{{post.id}}/edit">Edit</a>
            <a class="btn btn-danger" href="/post/{{post.id}}/delete">Delete</a>
        </div>
        
        {% block content %}
        {% endblock %}
    </div>
    <div>

    </div>

</body>
</html>